*,
html {
  margin: 0;
  padding: 0;
}

body {
  background: #e7e7e7;
  text-align: center;
  font-family: sans-serif;
}
svg {
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
}

h1 {
  text-align: center;
  color: #fff;
  margin: 0 0 100px;
  font-size: 34px;
  font-weight: 100;
  text-transform: uppercase;
  background-color: darken(#e74c3c, 5);
  padding: 20px 0;
}

h1 b {
  font-weight: 700;
}

.made-with-love {
  margin-top: 20px;
  padding: 10px;
  font-size: 10px;
  font-family: sans-serif;
  color: #fff;
}

.made-with-love i {
  font-style: normal;
  color: #f50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}

.made-with-love a {
  color: #fff;
  text-decoration: none;
}

.made-with-love a:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  justify-content: space-between;
  width: auto;
  height: 100vh;
  margin: 30px;
}

.items {
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
}

.display__none {
  display: none;
}

.item {
  border: 2px solid blue;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  width: 200px;
}

.item .item__sku {
  display: none;
}

.item .item__title {
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.item .item__image {
  width: 100%;
}

.item .item__add {
  background-color: #008000;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 5px;
}

.cart {
  display: flex;
  flex-basis: 30%;
  flex-flow: column wrap;
}

.cart .cart__title {
  flex-basis: 1;
  font-size: 16pt;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .header-mobile {
    right: -100%;
    transition: 0.3s;
  }

  .show-menu {
    right: 0;
  }
}

@media (min-width: 767px) {
  .header-mobile {
    height: 1100vh;
  }
}
